@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background-color: rgb(63, 64, 84);
  font-family: "Nunito";
}

.canvas {
  border: 3px solid black;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 4em;
  color: aliceblue;
  font-weight: bold;
  margin-top: 4vw;
}

.sub-title {
  font-size: 30px;
  color: blueviolet;
  margin-bottom: 20px;
  font-weight: 550;
}

.sub-container {
  display: inline-block;
  margin: 5em;
}

.draw-box {
  width: 300px;
  height: 300px;
  background-color: black;
  color: aliceblue;
  text-align: center;
  margin: auto; 
}

.space {
  display: inline-block;
  margin: 5em;
}

.submit {
  position: relative;
  background-color: rgb(63, 64, 84);
  margin-top: 1em;
  width: 15em;
  height: 2.5em;
  color: rgb(50, 194, 50);
  text-align: center;
  border: 3px solid rgb(50, 194, 50);
  cursor: pointer;
  font-size: large;
  font-family: "Nunito";
  padding: 2.5%;
  cursor: pointer;
  font-weight: 500;
  transition: all .3s ease;
  overflow: hidden;
}

.submit:after {
  content: "";
  background: rgb(63, 64, 84);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.submit:hover {
  background-color: rgb(50, 194, 50);
  color: aliceblue;
}

.clear {
  position: relative;
  background-color: rgb(63, 64, 84);
  margin-top: 1em;
  width: 15em;
  height: 2.5em;
  color: crimson;
  text-align: center;
  border: 3px solid crimson;
  cursor: pointer;
  font-size: large;
  font-family: "Nunito";
  padding: 2.5%;
  cursor: pointer;
  font-weight: 500;
  transition: all .3s ease;
  overflow: hidden;
}

.clear:after {
  content: "";
  background: rgb(63, 64, 84);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.clear:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.clear:hover {
  background-color: crimson;
  color: aliceblue;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons {
  display: grid;
  justify-content: center;
  margin: 0;
}
