.container {
    width: 300px;
    height: 23.6em;
    color: aliceblue;
    margin: auto;
    margin-top: 1em; 
}

td {
    border: 1px solid aliceblue;
    padding: 0.328em;
    transition: all 0.2s ease;
}

.header {
    background-color: aliceblue;
    color: #1f232c;
    font-weight: bolder;
}

.selected {
    transition: all .2s ease;
    background-color: #F9C80E;
    border-color: #F9C80E;
    color: #1f232c;
    font-size: 2rem;
}