@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background-color: #1f232c;
  font-family: "Nunito";
}

.canvas {
  border: 3px solid black;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 4em;
  color: aliceblue;
  margin-top: 3vw;
}

.sub-title {
  font-size: 30px;
  color: #F9C80E;
  margin-bottom: 20px;
}

.sub-container {
  display: inline-block;
  margin: 5vh 5vw;
  color: aliceblue;
  font-size: large;
}

.space {
  display: inline-block;
  margin: 5em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 757px) {
  .sub-container {
    margin: 20px 10px;
  }
}

@media only screen and (max-width: 645px) {
  .sub-container {
    margin: auto 10px;
  }

  .title {
    font-size: 3em;
  }

  .sub-title {
    font-size: 20px;
  }

  .draw {
    margin: 10px;
  }

  .table {
    margin-top: 250px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 390px) {
  .sub-container {
    margin-left: 2px;
    margin-right: 2px;
  }
}


